
<!DOCTYPE html>
<html style="width: 100%;height: 100%;">
<head>
    <title>HPP Card Form Render</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/rxp-js.js"></script>
    <script>
      RealexHpp.setHppUrl('https://pay.sandbox.realexpayments.com/pay');
      // get the HPP JSON from the server-side SDK
      $(document).ready(function () {
        $.getJSON("{{host}}/api/charge", function (jsonFromServerSdk) {
          console.log('jsonFromServerSdk', jsonFromServerSdk)
          RealexHpp.embedded.init(
            "payButtonId",
            "targetIframe",
            "{{host}}/process/charge",
            jsonFromServerSdk
          );
          $('body').addClass('loaded');
          $('#payButtonId').trigger('click')
        });
      });

    </script>
</head>
<body style="width: 100%;height: 100%;margin: 0px;">
  <input type="submit" style="display: none;" id="payButtonId" value="Checkout Now" />
  <iframe id="targetIframe" style="display:none;width: 100%;height: 100%;"></iframe>
</body>
</html>